$black: black;
$lightBlack: #1b1b1b;
$grey: rgb(206, 206, 206);
$lightGrey: rgb(241, 241, 241);
$white: white;
$deepBlue: rgb(18, 40,138);
$blue: blue;
$lightBlue: rgb(0, 0, 255);
$red: red;
$lightRed: rgb(255, 62, 62);